<form class="form-field-full" #payrecordForm="ngForm" name="payrecordForm">
  <a style="float: right; margin-top: -10px;" mat-dialog-close>
    <mat-icon>close</mat-icon>
  </a>
  <h2> Trả hồ sơ </h2>


  <div fxLayout="row" fxLayoutGap="0px">
    <div fxFlex="50" class="m-r-8">
      <div fxLayout="row" fxLayoutGap="0px" class="m-b-8">
        <div fxFlex="100">
          <div fxFlex="30">
            <mat-label>Số phiếu</mat-label>
          </div>
          <div fxFlex="50">
            <input matInput name="Votes" #controlVotes="ngModel" [(ngModel)]="payrecord.Votes"
                   style="color: black;background-color: whitesmoke; margin: 5px;" disabled="true">
          </div>
        </div>
      </div>

      <div fxLayout="row" fxLayoutGap="0px" class="m-b-8">
        <div fxFlex="100">
          <div fxFlex="30">
            <mat-label>Người mượn</mat-label>
          </div>
          <div fxFlex="50">
            <input matInput name="FullName" #controlFullName="ngModel"
                   [(ngModel)]="payrecord.FullName"
                   style="color: black;background-color: whitesmoke; margin: 5px;" disabled="true">
          </div>
        </div>
      </div>

      <div fxLayout="row" fxLayoutGap="0px" class="m-b-8">
        <div fxFlex="100">
          <div fxFlex="30">
            <mat-label>Hồ sơ</mat-label>
          </div>
          <div fxFlex="50">
            <input matInput name="Title" #controlTitle="ngModel" [(ngModel)]="payrecord.Title"
                   style="color: black;background-color: whitesmoke; margin: 5px;" disabled="true">
          </div>
        </div>
      </div>

      <div fxLayout="row" fxLayoutGap="0px" class="m-b-8">
        <div fxFlex="100">
          <div fxFlex="30">
            <mat-label> Ngày mượn </mat-label>
          </div>
          <div fxFlex="50">
            <input matInput name="BorrowDate" #controlBorrowDate="ngModel"
                   [(ngModel)]="payrecord.BorrowDate" [matDatepicker]="BorrowDate"
                   [value]="BorrowDate"
                   style="color: black;background-color: whitesmoke;margin: 5px;" disabled="true">
            <mat-datepicker #BorrowDate type="date"></mat-datepicker>
          </div>
        </div>
      </div>

      <div fxLayout="row" fxLayoutGap="0px" class="m-b-8">
        <div fxFlex="100">
          <div fxFlex="30">
            <mat-label> Ngày hẹn trả </mat-label>
          </div>
          <div fxFlex="50">
            <input matInput name="AppointmentDate" #controlAppointmentDate="ngModel"
                   [(ngModel)]="payrecord.AppointmentDate" [matDatepicker]="AppointmentDate"
                   [value]="AppointmentDate"
                   style="color: black;background-color: whitesmoke;margin: 5px;" disabled="true">
            <mat-datepicker #AppointmentDate type="date"></mat-datepicker>
          </div>
        </div>
      </div>
    </div>
    <div fxFlex="50">
      <!-- <div fxLayout="row" fxLayoutGap="0px" class="m-b-8">
        <div fxFlex="100">
          <div fxFlex="30">
            <mat-label>Người mang trả 
          <div fxFlex="50">
            <input matInput placeholder=" Người mang trả " name="ReimburseName" #controlReimburseName="ngModel"
            [(ngModel)]="payrecord.ReimburseName"required>
            <mat-error *ngIf="controlReimburseName.errors?.required">
              {{'validations.required' | translate}}
            </mat-error>
          </div>
          </mat-label>
        </div>
        </div>
      </div> -->

      <div fxLayout="row" fxLayoutGap="0px" class="m-b-8">
        <mat-form-field appearance="outline">
          <mat-label> Người trả </mat-label>
          <input matInput placeholder="Người mang trả " name="ReimburseName" #controlReimburseName="ngModel"
                 [(ngModel)]="payrecord.ReimburseName" required>
        </mat-form-field>
      </div>

      <div fxLayout="row" fxLayoutGap="0px" class="m-b-8">
        <mat-form-field appearance="outline">
          <mat-label>Tình trạng </mat-label>
          <mtx-select matInput name="ReimburseStatus" #controlReimburseStatus="ngModel"
                      [(ngModel)]="payrecord.ReimburseStatus">
            <mtx-option *ngFor="let opt of conditionList" [value]="opt.Id">
              {{opt.ConditionName}}
            </mtx-option>
          </mtx-select>
          <mat-hint> Chọn tình trạng </mat-hint>
        </mat-form-field>
      </div>

      <div fxLayout="row" fxLayoutGap="0px" class="m-b-8">
        <mat-form-field appearance="outline">
          <mat-label>Người nhận</mat-label>
          <mtx-select matInput name="ReimburseStaffId" #controlReimburseStaffId="ngModel"
                      [(ngModel)]="payrecord.ReimburseStaffId">
            <mtx-option *ngFor="let opt of UserList" [value]="opt.Id" required>
              {{opt.FullName}}
            </mtx-option>
          </mtx-select>
          <mat-hint> Người nhận </mat-hint>
        </mat-form-field>
      </div>

      <div fxLayout="row" fxLayoutGap="0px" class="m-b-8">
        <mat-form-field appearance="outline">
          <mat-label> Ghi chú </mat-label>
          <input matInput placeholder="Ghi chú " name="ReimburseNote" #controlReimburseNote="ngModel"
                 [(ngModel)]="payrecord.ReimburseNote">
        </mat-form-field>
      </div>

    </div>
  </div>

  <table class="table">

    <thead>
      <tr>
        <th>
          #
        </th>
        <th style="width: 200px;">Kí hiệu</th>
        <th style="width: 200px;">Tiêu đề</th>
        <th style="width: 200px;">Loại thành phần hồ sơ</th>
        <th style="width: 200px;">Hình thức mượn </th>

      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let usediary of InforList; let rowIndex = index">
        <td>
          <div>
            <mat-checkbox [(ngModel)]="usediary.Selected">
            </mat-checkbox>
          </div>
        </td>
        <td style="white-space: pre-wrap">{{ usediary.DocCode }}</td>
        <td style="white-space: pre-wrap">{{ usediary.Abstract }}</td>
        <td style="white-space: pre-wrap">{{ usediary.DocTypeId}}</td>
        <td>
          <div fxFlex="70" fxFlex.lt-sm="100">
            <mat-form-field appearance="outline">
              <mtx-select matInput name="BorrowType" #controlBorrowType="ngModel"
                          [(ngModel)]="usediary.BorrowType">
                <mtx-option *ngFor="let opt of FormatList" [value]="opt.FormatId">
                  {{opt.FormatName}}
                </mtx-option>
              </mtx-select>

            </mat-form-field>
          </div>
        </td>
        <td>
          <button mat-raised-button color="#fff" (click)="ArchiveView(usediary)">
              <mat-icon style="color:darkblue">
                remove_red_eye
              </mat-icon>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="text-right">
    <button class="m-r-8" mat-raised-button color="primary" cdkFocusInitial
            [disabled]="payrecordForm.invalid"
            (click)="onSubmit(payrecordForm.value)">Trả hồ sơ</button>
    <button mat-raised-button mat-dialog-close>Hủy</button>

  </div>



</form>