<div>
  <a style="float: right; margin-top: -10px;" mat-dialog-close><mat-icon>close</mat-icon></a>

<h2>Thông tin phiếu mượn</h2>

<div fxLayout="row" fxLayoutGap="0px">
  <div fxFlex="50" class="m-r-8">
    <div fxLayout="row" fxLayoutGap="0px" class="m-b-8">
      <div fxFlex="100">
        <div fxFlex="30">
          <mat-label>Số phiếu</mat-label>
        </div>
        <div fxFlex="50">
          <input matInput name="Votes" #controlVotes="ngModel" [(ngModel)]="list.Votes"
             style="color: black;background-color: whitesmoke; margin: 5px;" disabled="true" >
        </div>
      </div>
    </div>

    <div fxLayout="row" fxLayoutGap="0px" class="m-b-8">
      <div fxFlex="100">
        <div fxFlex="30">
          <mat-label>Người mượn</mat-label>
        </div>
        <div fxFlex="50">
          <input matInput name="FullName" #controlFullName="ngModel" [(ngModel)]="list.FullName"
        style="color: black;background-color: whitesmoke; margin: 5px;" disabled="true" >
        </div>
      </div>
    </div>

    <div fxLayout="row" fxLayoutGap="0px" class="m-b-8">
      <div fxFlex="100">
        <div fxFlex="30">
          <mat-label>Giấy giới thiệu số</mat-label>
        </div>
        <div fxFlex="50">
          <input matInput name="Referral" #controlReferral="ngModel" [(ngModel)]="list.Referral"
             style="color: black;background-color: whitesmoke;margin: 5px;" disabled="true">
        </div>
      </div>
    </div>

    <div fxLayout="row" fxLayoutGap="0px" class="m-b-8">
      <div fxFlex="100">
        <div fxFlex="30">
          <mat-label> Giấy CMT số</mat-label>
        </div>
        <div fxFlex="50">
          <input matInput name="CardId" #controlCardId="ngModel" [(ngModel)]="list.CardId"
             style="color: black;background-color: whitesmoke;margin: 5px;" disabled="true">
        </div>
      </div>
    </div>

  </div>

<div fxFlex="50">
    <div fxLayout="row" fxLayoutGap="0px" class="m-b-8">
      <div fxFlex="100">
        <div fxFlex="30">
          <mat-label> Cơ quan, đơn vị</mat-label>
        </div>
        <div fxFlex="50">
          <input matInput name="Name" #controlName="ngModel" [(ngModel)]="list.Name"
            style="color: black;background-color: whitesmoke; margin: 5px;" disabled="true" >
        </div>
      </div>
    </div>

    <div fxLayout="row" fxLayoutGap="0px" class="m-b-8">
      <div fxFlex="100">
        <div fxFlex="30">
          <mat-label> Hồ sơ </mat-label>
        </div>
        <div fxFlex="50">
          <input matInput name="Title" #controlTitle="ngModel" [(ngModel)]="list.Title"
    style="color: black;background-color: whitesmoke; margin: 5px;" disabled="true" >
        </div>
      </div>
    </div>

    <div fxLayout="row" fxLayoutGap="0px" class="m-b-8">
      <div fxFlex="100">
        <div fxFlex="30">
          <mat-label> Ngày hẹn trả </mat-label>
        </div>
        <div fxFlex="50">
          <input matInput name="AppointmentDate" #controlAppointmentDate="ngModel" [(ngModel)]="list.AppointmentDate" [matDatepicker]="AppointmentDate" [value]="AppointmentDate"
           style="color: black;background-color: whitesmoke;margin: 5px;" disabled="true">
           <mat-datepicker #AppointmentDate type="date"></mat-datepicker>
        </div>
      </div>
    </div>



  </div>
</div>


    <table class="table">

        <thead>
          <tr>
            <th>#</th>
            <!-- <th><mat-checkbox  name="CheckBox" 
              [(ngModel)]="CheckAll" 
              (ngModelChange)="CheckAllList($event)"required></mat-checkbox></th> -->
            <th style="width: 200px;">Kí hiệu</th>
            <th style="width: 200px;">Tiêu đề</th>
            <th style="width: 200px;">Loại thành phần hồ sơ</th>
            <th style="width: 200px;">Hình thức mượn </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let usediary of InforList; let rowIndex = index">
            <td>
              <div>
                <mat-checkbox name="role-Selected-{{rowIndex}}" [(ngModel)]="usediary.Selected">
                </mat-checkbox>
              </div>  
            </td>
            <td style="white-space: pre-wrap">{{ usediary.DocCode }}</td>
            <td style="white-space: pre-wrap">{{ usediary.Abstract }}</td>
            <td style="white-space: pre-wrap">{{ usediary.DocName}}</td>
            <td>        
              <div fxFlex="70" fxFlex.lt-sm="100">
                <mat-form-field appearance="outline">
                  <mtx-select matInput name="BorrowType" #controlBorrowType="ngModel"
                              [(ngModel)]="usediary.BorrowType">
                    <mtx-option *ngFor="let opt of FormatList" [value]="opt.FormatId">
                      {{opt.FormatName}}
                    </mtx-option>
                  </mtx-select>
                </mat-form-field>
              </div>
            </td>
            <td >
                <button mat-raised-button color="#fff" (click)="editDocumentArchive(usediary)"><mat-icon style="color:darkblue">remove_red_eye</mat-icon></button>
            </td>
          </tr>
        </tbody>
      </table>

    <!-- <form class="form-field-full" #listForm="ngForm" name="listForm">
        <div class="text-right" style="float: right;">
            <button class="m-r-8" mat-raised-button color="primary" cdkFocusInitial [disabled]="listForm
                .invalid" list (click)="listForm.form.valid && onSubmit(listForm.value)">Phê duyệt
            </button>
            <button class="m-r-8" mat-raised-button color="primary" cdkFocusInitial [disabled]="listForm
                .invalid" list (click)="listForm.form.valid && RefuseApproval (listForm.value)">Từ chối
            </button>
        </div> -->
